<div class="jumbotron">
    <h1>Invite Sent!</h1>
    <p>The provided email has been sent an invite to create a WFE account.</p>
    <p>If you suspect the individual has not received the email, please confirm with them in person.</p>

    <a href="/">Go back to homepage</a>
</div>