<div class="jumbotron">
    <h1>Invite a User</h1>
    <p>Invite a person to create a WFE account</p>

    <form id="invite-user" action="/admin/sendInvite/send" method="post">
        <label>Invitee's email</label>
        <input type="email" name="email"/>

        <input type="submit" class="btn btn-primary btn-sm" value="Send Invite"/>
    </form>

</div>