<div class="jumbotron">
    <h1>WFE Research Hub</h1>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <p class="panel-title">Profile Information</p>
    </div>
    <div class="panel-body">
        <h4>{{user.permissions}}</h4>
        <!-- FOR ROOT ONLY -->
        <a href="/admin/crudUser">Add, modify, or delete a user</a>
        <br>
        <a href="/view-data/home">View your data</a>
    </div>
</div>

