<!-- views/signin.handlebars -->
<div class="jumbotron">
  <h1>Sign in</h1>
  <p>Sample login page.</p>
  <p>
    <a data-toggle="collapse" href="#local" class="btn btn-warning btn-lg" role="button"><span class="glyphicon glyphicon-user"></span> Sign in</a>

  <div id="local" class="collapse">
    <a data-toggle="collapse" href="#local-sign-in" class="btn btn-default btn-md" role="button">Login with existing account</a>
    <a data-toggle="collapse" href="#submit-request" class="btn btn-default btn-md" role="button">request an account</a>
  </div>

  <form id="local-sign-in" class="collapse" action="/login" method="post">
    <label>Email:</label>
    <input type="email" name="Email"/>

    <label>Password:</label>
    <input type="password" name="password"/>

    <input type="submit" class="btn btn-primary btn-sm" value="Log In"/>
  </form>

  <form id="submit-request" class="collapse" action="/account/submit-request" method="post">
    <label>Full Name</label>
    <input type="text" name="name"/>

    <label>Email</label>
    <input type="email" name="email"/>

    <input type="submit" class="btn btn-primary btn-sm" value="Request an Account"/>
  </form>
</div>
